.escritorio::before {
    content: url("../../images/icons/escritorio.svg");
}

.convenios::before {
    content: url("../../images/icons/dominios.svg");
}

.sedes::before {
    content: url("../../images/icons/clientes.svg");
}

.recaudo::before {
    content: url("../../images/icons/proveedores.svg");
}

.factura::before {
    content: url("../../images/icons/redes-sociales.svg");
}

.realizados::before {
    content: url("../../images/icons/ayuda.svg");
}

.recibidos::before {
    content: url("../../images/icons/dominios.svg");
}

.informerecaudo::before {
    content: url("../../images/icons/proveedores.svg");
}

.informefacturas::before {
    content: url("../../images/icons/clientes.svg");
}

.corte::before {
    content: url("../../images/icons/ayuda.svg");
}

.main-content-wrap {
    background-image: url("../../images/bg-login.png") !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: top !important;
    background-size: 300px !important;
}

.shortcut-profile{
    max-width:3rem;
}
